{% set variant_class = 'ipsosenso-strate--' ~ (variant|default('light-texture')) %}
{% set padding_class = 'ipsosenso-strate--padding-' ~ (padding|default('large')) %}

<section class="ipsosenso-strate {{ variant_class }} {{ padding_class }} relative overflow-hidden cq-full">
  {# Couche image de fond #}
  <div class="ipsosenso-strate__bg absolute inset-0 z-0"></div>

  {# Overlay couleur si nécessaire #}
  <div class="ipsosenso-strate__overlay absolute inset-0 z-1 pointer-events-none"></div>

  {# Contenu #}
  <div class="relative z-2 container mx-auto px-4 w-full">
    {% block strate_content %}{% endblock %}
  </div>
</section>
