{% set items = ipsosenso_menu(menu_name|default('ipsosenso_main')) %}

<nav class="ipsosenso-navbar" data-ipsosenso-navbar>
  <div class="ipsosenso-navbar__inner">
    <a href="/" class="ipsosenso-navbar__logo" aria-label="Accueil">
      <img src="/themes/custom/ipsosenso/logo.svg" alt="IpsoSenso" />
    </a>

    <ul class="ipsosenso-navbar__menu">
      {% for item in items %}
        <li>
          <a class="ipsosenso-navbar__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    {% if cta_label %}
      <a class="ipsosenso-navbar__cta" href="{{ cta_url|default('#') }}">{{ cta_label }}</a>
    {% endif %}
  </div>
</nav>
