<div class="ipsosenso-two-values">
  <div class="ipsosenso-two-values__item">
    <h3 class="ipsosenso-two-values__title">
      {{ title1 }}<span></span>
    </h3>
    <p class="ipsosenso-two-values__text">
      {{ text1|raw }}
    </p>
  </div>
  <div class="ipsosenso-two-values__item">
    <h3 class="ipsosenso-two-values__title">
      {{ title2 }}<span></span>
    </h3>
    <p class="ipsosenso-two-values__text">
      {{ text2|raw }}
    </p>
  </div>
</div>
